<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{selectedFuse.name}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="selectedFuse.name" ng-minlength=3>
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="selectedFuse.description" ng-minlength=3 >
      </label>
      <label class="item">
        <button class="button button-block button-stable" ng-click="getPhoto()"><i class="icon-left ion-camera"></i> Upload new photo</button>
        
      </label>
      <label class="item">
        <button class="button button-block button-assertive" ng-click="updateFuse()"><i class="ion-refresh icon-left"></i> Update</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>