<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{selectedHub.name}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="selectedHub.name" ng-minlength=3>
      </label>
      <label class="item">
        <button class="button button-block button-assertive" ng-click="updateHub()"><i class="ion-refresh icon-left"></i> Update</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>