<ion-view view-title="Fuses">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadFuses()">
    </ion-refresher>
    <div class="item item-divider themegrey">
      <div class="item item-divider item-right themegrey row ">
          <div>Your Fuses</div>
          
      </div>
    </div>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item class="item-icon-right item-avatar-left" ng-repeat="fuse in fuses">
        <img ng-src="{{fuse.icon}}" ng-if="fuse.icon"/>
        <div class="col">
          <h3>{{ fuse.name }}</h3>
          <div class="item-text-wrap">{{ fuse.description }}</div>
        </div>
        <i class="icon ion-edit" ng-click="openEdit({{fuse.id}},$event)"></i>
        <ion-option-button class="button-assertive" ng-click="deleteFuse({{fuse.id}})">
          Delete
        </ion-option-button>
      </ion-item>
      <div ng-hide="fuses.length">
        <div class="item item-text-wrap">
          <p>No fuses found, have you tried pulling down to refresh?</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-light" ng-show="fuses.lastUpdated" ng-model="fuses">
      <div>Last Synced: {{fuses.lastUpdated}}</div>
  </div>
</ion-view>