<ion-view view-title="Home">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadSummary(selectedItem,true)">
    </ion-refresher>
    <div class="list">
      <div class="item item-divider item-select themegrey">
          Summary
        <select ng-change="loadSummary(selectedItem)" ng-model="selectedItem">
          <option ng-repeat="date in dates" value="{{date}}" >
            {{date}}
          </option>
        </select>
      </div>
      <div class="item">
        <div class="max-chart">
          <label>
            Average Energy Consumption per Fuse
          </label>
          <canvas width='100%' height='100%' class="chart chart-bar max-chart" data="data" options="options" labels="labels" ></canvas>
        </div>
        <div ng-show="data[0].length===0">
          <div class="item-text-wrap">
            <p>No fuse data is available for this date!</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="max-chart">
          <label>
            Average Price per Fuse per Day
          </label>
          <canvas width='100%' height='100%' class="chart chart-bar max-chart" data="priceData" options="options" labels="labels" ng-hide="data[0].length===0"></canvas>
        </div>
        <div ng-show="data[0].length===0">
          <div class="item-text-wrap">
            <p>No fuse data is available for this date!</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>