<ion-view cache-view="false" view-title="Home">
  <ion-content ng-cloak>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadSummary(selectedItem,true)">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-divider item-select themegrey">
          Summary
        <select ng-change="loadSummary(selectedItem)" ng-model="$parent.selectedItem" ng-options="date for date in dates">
        </select>
      </ion-item>
      <ion-item>
        <div class="max-chart">
          <label>
            Average Energy Consumption per Fuse
          </label>
          <canvas width='100%' height='100%' class="chart chart-bar max-chart" data="data" options="options" labels="labels" ng-hide="data[0].length===0"></canvas>
        </div>
        <div ng-show="data[0].length===0">
          <div class="item-text-wrap">
            <p>No fuse data is available for this date!</p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="max-chart">
          <label>
            Average Price per Fuse per Day
          </label>
          <canvas width='100%' height='100%' class="chart chart-bar max-chart" data="priceData" options="options" labels="labels" ng-hide="data[0].length===0"></canvas>
        </div>
        <div ng-show="data[0].length===0">
          <div class="item-text-wrap">
            <p>No fuse data is available for this date!</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>