<ion-view view-title="Home">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadSummary(selectedItem)">
    </ion-refresher>
    <div class="list">
      <div class="item item-divider item-select themegrey">
          Summary
        <select ng-change="loadSummary(selectedItem)" ng-model="selectedItem">
          <option ng-repeat="date in dates" value="{{date}}" >
            {{date}}
          </option>
        </select>
      </div>
      <div class="item">
        <div ng-show="chartData.data.length" ac-chart="chartType" ac-data="chartData" ac-config="config" id='chart' class='col chart'></div>
        <div ng-show="!chartData.data.length">
          <div class="item-text-wrap">
            <p>No fuse data is available for this date!</p>
          </div>
        </div>
      </div>
    </div>
    <canvas width='1200' height='300' id="hero-bar" class="chart chart-line chart-xl" data="data" options="options" labels="labels"></canvas>
    <div class="bar bar-footer bar-light" ng-show="chartData.data.lastUpdated">
      <div>Last Synced: {{chartData.data.lastUpdated}}</div>
    </div>
  </ion-content>
</ion-view>