<ion-view view-title="About">
  <ion-header-bar class="bar-light">
      <h1 class="title">Welcome</h1>
  </ion-header-bar>
  <ion-content >
    <ion-list>
      <ion-item class="item-text-wrap">
        The Smart monitoring project was created by James Devine, supervised by Joe Finney. 
        <br/>
        <br/>
        This app allows you to see the appliances that you own and see how much energy each appliance is reporting.
      </ion-item>
      <ion-item>
        <button class="button button-block button-assertive" ng-click="login()">Log in</button>
      </ion-item>
      <ion-item ng-controller="RegisterCtrl" >
        <button class="button button-block button-light" ng-click="register()">Register</button>
      </ion-item>
    </ion-list>
   </ion-content>
</ion-view>