<ion-view view-title="About">
  <ion-header-bar class="bar-assertive">
      <h1 class="title">About</h1>
  </ion-header-bar>
  <ion-content >
    <div class="col">
        <h2 class ="row center">Welcome to the Smart Fuse Project</h1>
        <p class ="row center">The Smart Fuse project was created by James Devine, supervised by Joe Finney.<br/><br/>This app allows you to see the fuses that you own and see how much energy each fuse is reporting.</p>
        <div class ="row center">
          <button class="button button-assertive" ng-click="login()">
            Login now.
          </button>
        </div>
      </div>
    </div>
   </ion-content>
</ion-view>