<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar-dark">
      <h1 class="title">Smart Fuse</h1>
    </ion-header-bar>
    <ion-content class="menu-dark">
      <ion-list >
        <ion-item nav-clear class="item-dark item-icon-left" menu-close href="#/app/home">
          <i class="icon ion-home"></i>
          Home
        </ion-item>
        <ion-item nav-clear class="item-dark item-icon-left" menu-close href="#/app/fuses">
          <i class="icon ion-outlet"></i>
          My Fuses
        </ion-item>
        <ion-item nav-clear class="item-dark item-icon-left" menu-close href="#/app/hubs">
          <i class="icon ion-usb"></i>
          My Hubs
        </ion-item>
        <ion-item nav-clear class="item-dark item-icon-left" menu-close href="#/app/profile">
          <i class="icon ion-person"></i>
          Profile
        </ion-item>
        <ion-item nav-clear class="item-dark item-icon-left" menu-close ng-controller="LogoutCtrl" ng-click="logout()">
          <i class="icon ion-key"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
