<ion-view view-title="Power" cache-view="false">
  <ion-content ng-cloak>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadSummary(selectedItem,true)">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-divider item-select themegrey">
        &#160;
        <select ng-change="loadSummary(selectedItem)" ng-model="$parent.selectedItem" ng-options="date for date in dates">
        </select>
      </ion-item>
      <ion-item class="item-text-wrap">
        <p style="text-align:center;">Current Generation Sources in %</p>
        <canvas id="currentgenerationdoughnut" options="currentgenerationoptions" legend="true" class="chart chart-doughnut" data="currentgenerationdata" colours="currentgenerationdatacolors" labels="currentgenerationlabels">
        </canvas> 
      </ion-item>
      <ion-item class="item-text-wrap">
        <p style="text-align:center;">Generation Sources Over the Past 24 Hours in %</p>
        <canvas id="historicgenerationdoughnut" options="currentgenerationoptions" legend="true" class="chart chart-doughnut" data="historicgenerationdata" colours="historicgenerationdatacolors" labels="historicgenerationlabels">
        </canvas> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>