<ion-view view-title="Price" cache-view="false">
  <ion-content ng-cloak>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadSummary(selectedItem,true)">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-divider item-select themegrey">
        &#160;
        <select ng-change="loadSummary(selectedItem)" ng-model="$parent.selectedItem" ng-options="date for date in dates">
        </select>
      </ion-item>
      <ion-item ng-show="!currentCarbon.status">
        <div class="item-text-wrap">
            <p>No price data is available</p>
          </div>
      </ion-item>
      <ion-item ng-show="currentCarbon.status">
        <p style="text-align:center;">Current Energy Prices per MwH</p>
        <div class="row">
          <div class="col col-offset-33">£</div>
          <div class="col">{{ currentPrice.DayBaseGbp }}</div>
        </div>
        <div class="row">
          <div class="col col-offset-33">€</div>
          <div class="col">{{ currentPrice.DayBaseEur }}</div>
        </div>
      </ion-item>
      <ion-item ng-show="currentCarbon.status">
        <p style="text-align:center;">Historic Energy Prices per MwH (GBP)</p>
        <canvas id="pricehistoricline" class="chart chart-line" data="pricehistoricdata"
          labels="pricehistoriclabels" legend="true" series="pricehistoricseries"
          click="onClick">
        </canvas> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>