<ion-view  view-title="Stats" >
  
  <ion-tabs class="tabs-striped  tabs-background-assertive tabs-color-light" class="has-header" >

    <ion-tab  on-select='tabReporter()' href="#/app/stats/carbon"  title="Carbon Emissions" icon-on="icon icon-cloud" icon-off="icon-cloud">
      <ion-nav-view cache-view="false" name="carbon"></ion-nav-view>
    </ion-tab>

    <ion-tab on-select='tabReporter()' href="#/app/stats/power" cache-view="false"title="Power Generation" icon-on="icon-power" icon-off="icon-power">
      <ion-nav-view cache-view="false" name="power"></ion-nav-view>
    </ion-tab>

    <ion-tab on-select='tabReporter()' href="#/app/stats/historic" title="Historic" icon-on="icon-money" icon-off="icon-money">
      <ion-nav-view cache-view="false" name="historic"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>